@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');
/* resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color:#0b426c;
    --secondary-text-color: #3a79b4;
    --accent-color: #517795;
    --accent-color-dark: #0d4b7a;
    --padding-inline-section: 20px;
}
body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);  /* why this colour is not accepted */
    line-height:1.8rem;
}
ul{
    list-style: none;
}
/* utility class  */
.main-border{
    border:2px solid red;
}
.small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}
.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}
.flex {
    display: flex;
    align-items: center;
}
.hover-link {
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}

.hover-link:hover {
    color: var(--accent-color);
}
/* top banner */
.top-banner{
    background-image: url(asset\ 30.png);
    /* background-image: url('./assets/asset\ 30.png');  why this image address is not working */
    background-size: 300px;
    background-color: #5cb6d4e4;
}
.top-banner-text{
    text-align: center;
    color: white;   
    padding: var(--padding-inline-section);
}
/* navlink */
/* .nav-bar{
    margin-top:20px;
    justify-content: space-between;
}
/* .nav-link{
    flex-basis: 730px;
} */
/* .nav-link ul{
/* flex-basis: 200px; */
/* justify-content: end;
gap: 40px;
} */ 

.main-nav{
    justify-content: space-between;
}
.nav-links ul{
gap: 40px;
justify-content: end;
}